*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: #001e4d;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0 ;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    font-weight: 600;
    color:#001e4d ;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight:600 ;
    margin-bottom: 20px;
}
.btn{
    background: #fff;
    color:#222;
    display: block;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    margin: 10px;
    text-align: left;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background:#001e4d;
    color:#fff;
    display: block;
    padding: 10px 35px;
    margin: 10px;
    text-align: left;
    cursor: pointer;
    margin-top: 20px;
    display: none;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
